$BREAKPOINTS: (
  SP: "screen and (max-width: 767px)",
  TAB: "screen and (min-width: 768px)",
  PC: "screen and (min-width: 1024px)",
);

$c-STAY_FREE_BLUE: #0175c2;
$c-STAY_FREE_BLUE-rgba: rgba(1, 117, 194, 0.24);
$c-WHITE: #fff;

$fw-REGULAR: 400;
$fw-MEDIUM: 500;
$fw-BOLD: 700;
$fw-BLACK: 900;

$fc-MAIN: #222;
