@use "./consts" as c;
@use "./functions" as f;
@use "./mixins" as m;

.promotion {
  // padding: 32px 20px 174px 20px;
  padding: f.cPxToStdVp(32) f.cPxToStdVp(20) f.cPxToStdVp(174) f.cPxToStdVp(20);
  position: relative;

  &__heading {
    font-size: f.cPxToStdVp(40);
    font-weight: c.$FW-BLACK;
    letter-spacing: 0.02em;
    line-height: 1.3;
    color: c.$C-STAY_FREE_BLUE;
    margin-bottom: 40px;
  }

  &__text {
    font-size: f.cPxToStdVp(20);
    font-weight: c.$FW-MEDIUM;
    letter-spacing: 0.02em;
    line-height: 1.6;
    margin-bottom: 40px;
  }

  &__products {
    font-weight: c.$FW-BLACK;
    letter-spacing: 0.02em;
    color: c.$C-STAY_FREE_BLUE;

    li {
      position: relative;
      z-index: 0;

      &:nth-child(1) {
        display: flex;
        align-items: center;
        font-size: f.cPxToStdVp(56);

        &::after {
          content: "";
          display: block;
          background-color: aliceblue;
          width: f.cPxToStdVp(208);
          height: f.cPxToStdVp(156);
          margin-left: f.cPxToStdVp(-88);
          position: relative;
          z-index: -1;
        }
      }

      &:nth-child(2) {
        display: flex;
        font-size: f.cPxToStdVp(72);
        margin-top: f.cPxToStdVp(-28);

        &::before {
          content: "";
          display: block;
          background-color: blueviolet;
          width: f.cPxToStdVp(160);
          height: f.cPxToStdVp(284);
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-grow: 1;
        }
      }

      &:nth-child(3) {
        font-size: f.cPxToStdVp(72);
        margin: f.cPxToStdVp(-12) 0 0 f.cPxToStdVp(28);

        &::before {
          content: "";
          display: block;
          background-color: beige;
          width: f.cPxToStdVp(272);
          height: f.cPxToStdVp(154);
        }

        span {
          display: block;
          margin-top: f.cPxToStdVp(-24);
          margin-left: f.cPxToStdVp(-12);
        }
      }
    }
  }

  &__bgShape {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(-1, 1);

    div:nth-child(1) {
      border-left: solid f.cPxToStdVp(96) c.$C-STAY_FREE_BLUE-rgba;
      border-bottom: solid f.cPxToStdVp(96) transparent;
      width: f.cPxToStdVp(96);
      height: f.cPxToStdVp(96);
      position: absolute;
      top: 0;
      left: 0;
    }

    div:nth-child(2) {
      aspect-ratio: 1;
      background-color: rgba(0, 0, 0, 0.08);
      clip-path: polygon(100% 0, 100% 100%, 0 100%);
    }

    div:nth-child(3) {
      flex-grow: 1;
      background-color: rgba(0, 0, 0, 0.08);
    }

    div:nth-child(4) {
      background-color: rgba(0, 0, 0, 0.08);
      aspect-ratio: 1 / 0.5;
      clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
    }
  }
}
