@use "./reset";

@use "./consts";
@use "./functions";

@use "./policy";
@use "./over";
@use "./realize";
@use "./activeData";
@use "./images";
@use "./promotion";
@use "./addedValue";
@use "./sincerity";

@use "./service/service";

html {
  font-size: 62.5%;
  line-height: 1;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: consts.$fw-REGULAR;
  color: consts.$fc-MAIN;
  // height: 100%;
}

body {
  background: url("../img/bg-noise.jpg") repeat top left/360px auto;
  padding: 8px;
  // height: 100%;

  &::before {
    content: "";
    display: block;
    border: solid 6px consts.$c-STAY_FREE_BLUE;
    position: fixed;
    inset: 0;
    z-index: 100;
    pointer-events: none;
  }

  &::after {
    content: "";
    display: block;
    border-right: solid 90px consts.$c-STAY_FREE_BLUE;
    border-bottom: solid 90px transparent;
    width: 90px;
    height: 90px;
    position: fixed;
    top: 6px;
    right: 6px;
    z-index: 100;
  }
}

.header {
  padding: 8px;
  position: absolute;
  inset: 8px 8px auto 8px;

  &__heading {
    font-size: 10px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  &__logo {
    width: cPxToStdVp(216);
  }
}

.hero {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 2;

  &__copy {
    font-size: cPxToStdVp(36);
    font-weight: consts.$fw-BLACK;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: consts.$c-STAY_FREE_BLUE;
    position: absolute;
    // top: cPxToStdVp(384);
    // bottom: cPxToStdVp(56);
    top: 60%;
    left: cPxToStdVp(16);
  }

  &__mv {
    width: 100%;
    aspect-ratio: 1 / 2;
    position: absolute;
    top: 0;
    right: 0;
    // inset: -2px;
    // clip-path: polygon(258px 0px, 348px 90px, 348px 628px, 14px 294px);
    clip-path: polygon(calc(100% - 90px) 0, 100% 90px, 100% 100%, 0 50%);
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__scroll {
    background-color: consts.$c-STAY_FREE_BLUE-rgba;
    width: 92px;
    height: 92px;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    position: absolute;
    bottom: 8px;
    left: 8px;

    &::before {
      content: "";
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: consts.$c-WHITE;
      position: absolute;
      bottom: 8px;
      left: 5px;

      animation: circlemove 1.6s ease-in-out infinite,
        cirlemovehide 1.6s ease-in-out infinite;

      @keyframes circlemove {
        0% {
          bottom: 48px;
        }
        100% {
          bottom: 8px;
        }
      }

      @keyframes cirlemovehide {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        80% {
          opacity: 0.9;
        }
        100% {
          opacity: 0;
        }
      }
    }

    &::after {
      content: "";
      background: consts.$c-WHITE;
      width: 1px;
      height: 48px;
      position: absolute;
      bottom: 8px;
      left: 8px;
    }
  }

  &__scrollText {
    font-size: 12px;
    font-weight: consts.$fw-MEDIUM;
    color: consts.$c-WHITE;
    position: absolute;
    bottom: 8px;
    left: 24px;
  }
}

.footer {
  padding-bottom: 40px;

  *:not(:last-child) {
    margin-bottom: 80px;
  }
}

.footerNav {
  background-color: #31363a;
  padding: 40px;
  overflow: hidden;
  position: relative;

  &::after {
    content: "STAYFREE";
    font-size: 80px;
    font-weight: consts.$fw-BLACK;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.1);
    transform-origin: right top;
    transform: rotate(90deg) translateX(50%);
    position: absolute;
    top: 50%;
    right: -8px;
  }

  li {
    font-size: 24px;
    font-weight: consts.$fw-BOLD;
    letter-spacing: 0.02em;
    color: consts.$c-WHITE;
    width: fit-content;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.footerInfo {
  display: flex;
  justify-content: center;

  &__box {
    & > *:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__name {
    font-size: 24px;
    font-weight: consts.$fw-BOLD;
    letter-spacing: 0.02em;
    color: consts.$c-STAY_FREE_BLUE;
  }

  &__service {
    font-size: 14px;
    font-weight: consts.$fw-MEDIUM;
    letter-spacing: 0.02em;
  }

  &__address span {
    &:nth-of-type(1) {
      font-size: 14px;
      font-weight: consts.$fw-MEDIUM;
      letter-spacing: 0.02em;
    }

    &:nth-of-type(2) {
      font-size: 16px;
      font-weight: consts.$fw-MEDIUM;
      letter-spacing: 0.02em;
      line-height: 1.5;
    }
  }

  &__toMap {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: consts.$fw-BOLD;
    letter-spacing: 0.02em;
    color: consts.$c-WHITE;
    border-radius: 4px;
    background-color: consts.$c-STAY_FREE_BLUE;
    padding: 12px 0;

    &::before {
      content: "\f3c5";
      font: var(--fa-font-solid);
      margin-right: 8px;
    }
  }
}

.copyright {
  display: block;
  font-size: 10px;
  font-weight: consts.$fw-MEDIUM;
  letter-spacing: 0.02em;
  text-align: center;
}
